<header class="cab">
    <div class="logo">
        <img src="/Logo3.png" alt="Logo">
        <h2>PizzaTime</h2>
    </div>
    <div class="menu">
        <li><a routerLink="/produtos">Produtos</a></li>
        <li><a routerLink="/funcionarios">Funcionarios</a></li>
    </div>
    <div class="conta-user" *ngIf="authService.isLoggedIn()">
        <span class="user-name">{{ authService.getCurrentUser()?.nome }}</span>
        <button class="btn-sair" (click)="logout()">Sair</button>
    </div>
</header>